<div id='elfinder'></div>


<%= javascript_include_tag "elfinder/elfinder.min" %>
<%= javascript_include_tag "elfinder/proxy/elFinderSupportVer1" %>
<%= javascript_include_tag "elfinder/i18n/elfinder.ru" %>
<%= javascript_include_tag "fm" %>